version: '3.8'

services:
  back-end:
    build:
      context: ./back-end
      dockerfile: Dockerfile
    image: softy-pinko-back-end:task5
    # Port mapping-i silirik, yalnız container daxilində açıq qalır
    expose:
      - "5252"
    networks:
      - app-network

  front-end:
    build:
      context: ./front-end
      dockerfile: Dockerfile
    image: softy-pinko-front-end:task5
    # Port mapping-i silirik, yalnız container daxilində açıq qalır
    expose:
      - "9000"
    depends_on:
      - back-end
    networks:
      - app-network

  proxy:
    build:
      context: ./proxy
      dockerfile: Dockerfile
    image: softy-pinko-proxy:task5
    ports:
      - "80:80"  # Yalnız proxy server xaricə açıqdır
    depends_on:
      - front-end
      - back-end
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
